{% import 'ckihook_macros.j2' as cki_macros %}
{{ header_str }}
{# Warn about missing pipelines. #}
{% if missing %}
#### Missing pipelines
The target branch of this MR is expected to include the following pipeline
types but they have not been found.  Please contact the webhooks or CKI
teams if this problem persists.
  {% for pipeline_type in missing: %}
- {{ pipeline_type.name }}
  {% endfor %}
{% endif %}
{# Display results for blocking pipelines and then nonblocking. #}
{% for key_type, pipelines in {'Blocking': blocking, 'Non-blocking': nonblocking}.items() %}
  {% if pipelines.failed or pipelines.canceled or pipelines.running or pipelines.success or pipelines.waived %}

#### {{ key_type }} pipelines
    {% if pipelines.failed or pipelines.canceled %}

##### Failed pipelines
These pipelines have failed or been canceled.

    {% include 'ckihook_failed.j2' %}
    {% endif %}
    {% if pipelines.running %}

##### Running pipelines
These pipelines are still running.

    {% include 'ckihook_running.j2' %}
    {% endif %}
    {% if pipelines.success or pipelines.waived %}

##### Successful pipelines
These pipelines have been completed successfully or have been waived.

    {% include 'ckihook_success.j2' %}
    {% endif %}
  {% elif key_type == 'Blocking' %}

#### No blocking pipelines found.
  {% endif %}
{% endfor %}

---
{# Footer with helpful links. #}
Please see the [Testing GitLab MRs FAQ](https://cki-project.org/devel-faq/) if you need help or have questions about the CKI pipelines or KCIDB results.

{% include 'generic_footer.j2' %}
