{# Prints a line with the list of test maintainer GL usernames, @ing them if is_draft is False. #}
{% macro maintainers_list(test, is_draft) %}
  {% if test.misc['maintainers'] %}
  {% if is_draft %}
  Maintainers: {% for maint in test.misc['maintainers'] %}{{ maint['gitlab_username'] }} {% endfor %}
  {% else %}
  Maintainers: {% for maint in test.misc['maintainers'] %}@{{ maint['gitlab_username'] }} {% endfor %}
  {% endif %}
  {% else %}
  Maintainers: None
  {% endif %}
{% endmacro %}
